.container-area {
    background-color: #fff;
    color: #000;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 980px;
    @media(max-width:767px) {
      margin: 0 1rem;
    }
    .quantityForm {
      font-size: 1.4rem;
      margin: 1rem 0;
    }
    .collection-item {
      margin: 0 0 1rem 0;
      .item{
        border:1px solid #ccc;
        display: flex;
        flex-direction: column;
        .info {
          font-size:1rem;
          padding: 1rem;
          .desc {
            font-weight:normal;
            margin-bottom: .5rem;
            line-height: 1.4;
            font-size: .8rem;
            .title {
              font-weight:bold;
            }
          }
          .button-wrapper {
            text-align: center;
            margin: 1rem 0;
            display: flex;
            .quantity-input {
              font-size:.8rem;
            }
            .shopping-cart {
              color:#000;
              border:1px solid #000;
              padding: .5rem;
              text-decoration: none;
              width: 100%;
              @media(max-width:767px) {
                font-size:.8rem;
              }
            }
          }
          
        }
      }
      @media(max-width:767px){
        &:nth-child(2n+1){
          clear:left;
        }
      }
      @media(min-width:768px){
        &:nth-child(3n+1){
          clear:left;
        }
      }
    }
    .shoppingCartItem {
      display: flex;
      flex-direction: row;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      @media(max-width:767px) {
        justify-content: flex-start;
      }
      .delete-btn {
        display: flex;
        text-decoration: none;
        border: 1px solid #ccc;
        justify-content: center;
        align-items: center;
        color: #ccc;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 .3rem;
        padding: .2rem;
      }
      .img {
        width: 50px;
        height: 50px;
      }
      &:last-Child {
        border-bottom: 1px solid #ccc;
      }
      .name{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
      }
      .quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        color:red;
        font-size: .3rem;
        padding: 0 .5rem;
      }
    }
    .total-Wrapper {
      margin-top: 1rem;
      text-align: right;
      font-weight: bold;
      border-top: 1px solid #000;
      padding: 1rem 0;
      .total-title {
        font-size: 1.3rem;
      }
      .total-price {
        font-size: 1.2rem;
        font-weight: normal;
      }
    }
  }