.navs {
    background-color:#222;
    position: relative;
    top: 0;
    display: table;
    width: 100%;
    z-index: 0;
    .link {
      padding: 1rem;
      text-decoration: none;
      color: #ccc;
      display: table-cell;
      &:hover {
        color:$primary-color;
      }
    }
    .searchBox {
      position: absolute;
      top: 22%;
      right: 2%;
      .search {
        font-size:1.1rem;
      }
    }
  }